@charset "ISO-8859-1";

body {
	background-image: url(/green/pic/audi.jpg); 
	background-color : #d9ffd9;
	background-size: 100%;
	weight: 100%;
	height: 100%;
	background-color: #d9ffd9;
	}

button:hover {
	border: 2px solid #008080;
	/* Green */
	color: #008080;
}


input:hover {
	border: 2px solid #008080;
	/* Green */
	color: #008080;
}


h3 {
	background-color : #3e886c;
	text-align: center;
	font-family: 'Snell Roundhand';
	font-style: cursive;
	font-variant: cursive;
	font-weight: 150;
	font-size: 70px;
	weight: 100%;
	height: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px;
	color: white;
}

a {
	color: white;
}



@font-face {
font-family: 'Snell Roundhand';
font-style: normal;
font-weight: normal;
src: local('Snell Roundhand'), url('SnellRoundhand.woff') format('woff');
}