@charset "ISO-8859-1";

body {
	background-image: url(/green/pic/background.jpg); 
	background-color : black;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 100%;
	height: 100%;
	}