@charset "ISO-8859-1";
body {
    background-color: #d9ffd9;
}

body {
  background:url(./WebContent/pic/audi.jpg) left top no-repeat;
}

button:hover {
  background-color: #75baff; /* Green */
  color: white;
}

.caption {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.caption img {
    float: left;
    margin: 0;
    padding: 0;
    background: #fff;
    border: none;
}
.caption span {
    float: left;
    margin: 0;
    padding: 10px;
    width: 100%;
    color: #dedede;
    background: #222; /* browser che non supportano rgba */
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    bottom: 0;
}
.caption span strong {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
}